* {
    box-sizing: border-box;
 }

 @font-face {
    font-family: "space-age";
    src:url("../assets/fonts/space-age.ttf")
 }

 html {
    overflow: none;
    height: 1000px;
    background-image: url(../assets/img/horsehead-nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
 }

 body {
    display: grid;
    margin: 0;
 }

 header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: rgba(0, 0, 0, 0.502);
    height: auto;
    justify-content: center;
    align-items: center;
 }

 #jabbadicewhite {
    max-width: 60%;
    height: auto;
 }

 h1 {
    font-family: "space-age";
    text-align: center;
 }

 button {
    border: solid;
    margin: 20px;
    border-radius: 20px;
    height: 80px;
    max-width: 50vw;
    font-family: 'space-age';
    font-size: 2vw;
    box-shadow: 0px 0px 30px 10px lightgray;
    background-color: black;
    color: white;
 }

 button:focus {
    outline: 0;
 }

 button:hover {
    transform: translate3d(-2px, -2px, 10px);
    box-shadow: 0px 0px 20px 10px rgb(30, 255, 0);
 }

 main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 375px);
    text-justify: Center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    font-size: 26px;
    overflow: hidden;
}

 #dylan img {
    height: 300px;
    margin-left: 130px;
    margin-top: 10px;
    grid-row-start: 1;
    grid-column-start: 1;
}

#kam-img {
    height: 220px;
    margin-top: 50px;
    margin-left: 30px;
    grid-row: 1;
    grid-column: 3;
}

#luke-img {
    margin-top: 40px;
    height: 280px;
    margin-left: 120px;
    grid-column: 1;
    grid-row: 2;
}

#pat-img {
    height: 250px;
    margin-top: 80px;
    margin-left: 60px;
    grid-row: 2;
    grid-column: 3;
    align-content: center;
}

#pat-img:hover {
    box-shadow: 0px 0px 20px 10px rgb(255, 0, 0);
    border-color: red;
    transform: scale(1.2);
}
#kam-img:hover {
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 255);
    transform: scale(1.2);
 }

 #dylan img:hover {
    box-shadow: 0px 0px 20px 10px rgb(255, 3, 255);
    transform: scale(1.1);
}
#luke-img:hover {
    box-shadow: 0px 0px 20px 10px rgb(0, 255, 0);
    transform: scale(1.2);
 }

 #dylan-bio {
    /* margin-top: 35px; */
    background-color: rgba(0, 0, 0, 0.502);
    grid-template-columns: 25% 50% 25%;
    height: auto;
    font-family: 'Roboto', sans-serif;

    grid-row: 1;
    grid-column: 2;
    overflow: scroll;
}


 #kam-bio {
    background-color: rgba(0, 0, 0, 0.502);
    grid-template-columns: 25% 50% 25%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    grid-row: 1;
    grid-column: 4;
    overflow: scroll;

}


 #luke-bio{
    /* margin-top: 35px; */
    background-color: rgba(0, 0, 0, 0.502);
    grid-template-columns: 25% 50% 25%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    grid-row: 2;
    grid-column: 2;
}
#pat-bio{
    background-color: rgba(0, 0, 0, 0.502);
    width: auto;
    grid-template-columns: 25% 50% 25%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    grid-row: 2;
    grid-column: 4;
    justify-content: center;
}

#pat-name{
    font-family: 'Roboto', sans-serif;
 }


#luke-name{
    color: black;
    grid-row: 2;
    grid-column: 2;
}

#kam-name{

    font-family: 'Roboto', sans-serif;
    font-size: 17px;
 }