* {
    box-sizing: border-box;
}

@font-face {
    font-family: "space-age";
    src:url("../assets/fonts/space-age.ttf")
}

html {
    overflow: none;
    height: 1150px;
    background-image: url(../assets/img/horsehead-nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

body {
    display: grid;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: rgba(0, 0, 0, 0.502);
    height: auto;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

#jabbadicewhite {
    max-width: 60%;
    height: auto;
}

h1 {
    font-family: "space-age";
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#dylan img {
    height: 300px;
}

#kam img {
    height: 250px;
}

#luke img {
    margin-top: 100px;
    height: 205px;
}


#pat img {
    height: 250px;
    margin-top: 100px;
}

#pat img:hover {
    box-shadow: 0px 0px 20px 10px rgb(255, 0, 0);
    border-color: red;
    transform: scale(1.2);
}
#kam img:hover {
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 255);
    transform: scale(1.2);
}
#dylan img:hover {
    box-shadow: 0px 0px 20px 10px rgb(198, 0, 198);
    transform: scale(1.1);
}
#luke img:hover {
    box-shadow: 0px 0px 20px 10px rgb(0, 255, 0);
    transform: scale(1.4);

}

#dylan-bio, #kam-bio, #pat-bio {
    /* margin-top: 35px; */
    background-color: rgba(0, 0, 0, 0.502);
    grid-template-columns: 25% 50% 25%;
    height: auto;
    font-family: "space-age";
}

#luke-bio{
    /* margin-top: 35px; */
    background-color: rgba(0, 0, 0, 0.502);
    grid-template-columns: 25% 50% 25%;
    height: auto;
    transform: translate(0px, 20px);
    font-family: "space-age";
}

#luke-name{
    transform: translate(0px, 20px);
    font-family: "space-age";
}

#name{
    font-family: "space-age";
    font-size: 20px;
}

button {
    border: solid;
    margin: 20px;
    border-radius: 20px;
    height: 80px;
    max-width: 50vw;
    font-family: 'space-age';
    font-size: 2vw;
    box-shadow: 0px 0px 30px 10px lightgray;
    background-color: black;
    color: white;
}

button:focus {
    outline: 0;
}

button:hover {
    transform: translate3d(-2px, -2px, 10px);
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 255);
}