body {
    background-image: url('../assets/img/Cover-Page.png');
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    position: absolute;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 10px;
    width: 600px;
    height: 450px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../assets/img/jabba-glow2.png');
    background-size: cover;
}

button:focus {
   outline: 0;
}

button:hover {
    transform: translate3d(-1px, -10px, 5px);
    transform: scale(1.3);
}