html {
    height: 100%;
    margin: 0px;
}

body {
    display: grid;
    margin: 0px;
    grid-template-rows: 80% 20%;
    grid-template-areas: "coverPhoto" "footer";
    height: 100%;
}

main {
    border: solid 4px black;
    display: grid;
    grid-template-columns: 25% 16% 16% 16% 25%;
    grid-template-rows: 60% 40%;
    grid-template-areas: "logo dice6 dice5 dice4 ." ". dice3 dice2 dice1 win-loss";
    grid-area: coverPhoto;
    background-image: url(../assets/img/jabba.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#gamePlayInfo {
    grid-area: footer;
    display: grid;
    grid-template-columns: 11% 26% 26% 26% 11%;
    grid-template-areas: "boss bossBank roll playerBank player";
    width: 100vw;
    background-color: white;
    border: solid;
    align-content: center;
}

#gamePlayInfo>p {
    font-family: 'Arial Narrow', sans-serif;
    font-size: 30pt;
    margin: auto;
}

.boss {
    grid-area: boss;
}

.boss-bank {
    grid-area: bossBank;
    border: solid;
    margin: 20px;
    border-radius: 20px;
    width: 200px;
    height: 80px;
}

.roll {
    grid-area: roll;
    border: solid;
    margin: 20px;
    border-radius: 20px;
    height: 80px;
}

.player-bank {
    grid-area: playerBank;
    border: solid;
    border-radius: 20px;
    width: 200px;
    height: 80px;
}

.player {
    grid-area: player;
}

#top-first {
    grid-area: dice6;
}

#top-second {
    grid-area: dice5
}

#top-third {
    grid-area: dice4
}

#bottom-first {
    grid-area: dice3
}

#bottom-second {
    grid-area: dice2
}

#bottom-third {
    grid-area: dice1
}

[class^="dice"] {
    width: 80%;
}

[class$=top] {
    margin-top: auto;
}

[class$=bottom] {
    margin-bottom: auto;
}

.logo {
    grid-area: logo;
    max-width: 100%;
    margin-top: -20%;
    max-height: 50%;
}

#win-loss {
    grid-area: win-loss;
    width: 100%;
    margin-top: -50%;
}

.hidden {
    background: red;
    display: none;
}

audio {
    display: none;
}