html {
    height: 100%;
    margin: 0px;
}

@font-face {
    font-family: "colored-crayons";
    src: url("../assets/fonts/colored-crayons.TTF");
}

@font-face {
    font-family: "aurebesh";
    src: url("../assets/fonts/aurebesh.TTF");
}

@font-face {
    font-family: "space-age";
    src: url("../assets/fonts/space-age.ttf");
}

body {
    display: grid;
    margin: 0px;
    grid-template-rows: 80% 20%;
    grid-template-areas: "coverPhoto" "footer";
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 25% 16% 16% 16% 25%;
    grid-template-rows: 60% 40%;
    grid-template-areas: "logo dice6 dice5 dice4 ." ". dice3 dice2 dice1 win-loss";
    grid-area: coverPhoto;
    background-image: url(../assets/img/jabba.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 30%;
}

footer {
    background-image: url(../assets/img/bricklayer2.png);
    background-size: 100px;
    background-position-x: 50%;
    background-position-y: 40%;
    background-size: 110% 200%;
    background-repeat: no-repeat;
    margin-top: -25px;
    overflow: visible;
    grid-area: footer;
}

#gamePlayInfo {
    font-family: 'colored-crayons';
    display: flex;
    align-content: center;
    margin-top: 4%;
}

#gamePlayInfo>p {
    color: white;
    margin: auto;
    padding-left: 20px;
}

.boss {
    font-size: 3vw;
    align-self: center;
    text-shadow: 10px 10px 6px black;
}

.boss-bank {
    border: solid;
    margin: 20px;
    border-radius: 20px;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 200%;
    font-family: 'aurebesh';
    line-height: 80px;
    box-shadow: 0px 0px 80px 30px black;
    background-color: rgb(122, 126, 48);
}

.roll {
    border: solid;
    margin: 20px;
    border-radius: 20px;
    height: 80px;
    max-width: 50vw;
    font-family: 'space-age';
    font-size: 2vw;
    box-shadow: 0px 0px 80px 30px black;
    background-color: rgb(122, 126, 48);
    color: white;
}

button:focus {
    outline: 0;
}

button:hover {
    transform: translate3d(-2px, -2px, 10px);
}

.player-bank {
    border: solid;
    border-radius: 20px;
    width: 150px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    box-shadow: 0px 0px 80px 30px black;
    font-family: 'aurebesh';
    font-size: 200%;
    background-color: rgb(122, 126, 48);
}

.player {
    font-size: 3vw;
    text-shadow: 10px 10px 6px black;
}

#top-first {
    grid-area: dice6;
}

#top-second {
    grid-area: dice5
}

#top-third {
    grid-area: dice4
}

#bottom-first {
    grid-area: dice3
}

#bottom-second {
    grid-area: dice2
}

#bottom-third {
    grid-area: dice1
}

[class^="dice"] {
    width: 80%;
}

[class$=top] {
    margin-top: auto;
}

[class$=bottom] {
    margin-bottom: auto;
}

.logo {
    grid-area: logo;
    max-width: 100%;
    margin-top: -20%;
    max-height: 50%;
}

#win-loss {
    grid-area: win-loss;
    width: 100%;
    margin-top: -50%;
}

.hidden {
    background: red;
    display: none;
}