* {
    box-sizing: border-box;
}

@font-face {
    font-family: "space-age";
    src:url("../assets/fonts/space-age.ttf")
}

html {
    overflow: none;
    height: 100%;
    width: 100%;
    background-image: url(../assets/img/Cantina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    padding: 0px;
}

div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin:2%;
}

header {
    display: grid;
    width: 100vw;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.502);
    grid-template-columns: 25% 50% 25%;
    height: auto;
    justify-content: center;
    align-items: center;
}

nav {
    display: inline-block;
    text-align: center; 
}

main {
    display: grid;
    font-family: 'space-age';
    font-size: 4vh;
    align-items: center;
    justify-content: center;
}

#instructions-button:hover{
    box-shadow: 0px 0px 20px 10px rgb(0, 255, 0);
}

#instructions-button {
    font-size: 25px;
}

button {
    border: solid;
    margin: 50px;
    border-radius: 20px;
    height: 80px;
    max-width: 50vw;
    font-family: 'space-age';
    font-size: 2.5vw;
    box-shadow: 0px 0px 30px 10px lightgray;
    background-color:black;
    color: white;
}

button:focus {
    outline: 0;
}

button:hover {
    transform: translate3d(-2px, -2px, 10px);
    box-shadow: 0px 0px 20px 10px rgb(255, 0, 0);
}

#jabbadicewhite {
    max-width:60%;
    height: auto;
}

h1{
    font-size: 5vh;
    text-align: center;
    font-family: 'space-age';
}

input {
    width: 40vh;
    font-family: 'space-age';
    font-size: 1.4em;
}

