
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "space-age";
    src:url("../assets//fonts/space-age.ttf")
}

html {
    overflow: none;
    height: 100%;
    background-image: url(../assets/img/coruscant-nightlife.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

body {
    display: grid;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: auto;
    justify-content: center;
    align-items: center
}

nav {
    display: inline-block;
    text-align: center; 
}

#jabbadicewhite {
    max-width:60%;
    height: auto;
}

h1{
    text-align: center;
    font-family: 'space-age';
}