* {
    box-sizing: border-box;
}

@font-face {
    font-family: "space-age";
    src: url("../assets/fonts/space-age.ttf")
}

html {
    overflow: none;
    height: 100%;
    color: whitesmoke;
}

body {
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.502);
    height: auto;
    justify-content: center;
    align-items: center
}

#jabbadicewhite {
    max-width: 60%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'space-age';
}

button {
    border: solid;
    margin: 20px;
    border-radius: 20px;
    height: 80px;
    max-width: 50vw;
    font-family: 'space-age';
    font-size: 2vw;
    box-shadow: 0px 0px 30px 10px lightgray;
    background-color: black;
    color: white;
}

button:focus {
    outline: 0;
}

button:hover {
    transform: translate3d(-2px, -2px, 10px);
    box-shadow: 0px 0px 20px 10px rgb(43, 160, 255);
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.hidden {
    display: none;
}

main{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

#continue{
    position: fixed;
    bottom: 0px;
}

#story-line {
    font-size: 32pt;
    font-family: 'Roboto', sans-serif;
}