* {
    box-sizing: border-box;
}

@font-face {
    font-family: "space-age";
    src: url("../assets/fonts/space-age.ttf")
}

html {
    overflow: none;
    height: 100%;
    color: whitesmoke;
}

body {
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: auto;
    justify-content: center;
    align-items: center
}

#jabbadicewhite {
    max-width: 60%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'space-age';
}

p {
    font-family: 'Roboto', sans-serif;
}