header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: auto;
    justify-content: center;
    align-items: center
}
html {
    overflow: none;
    height: 100%;
    background-image: url(../assets/img/horsehead-nebula.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

body {
    display: grid;
    background-image: url('../assets/img/Cantina.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    justify-items: center;
    vertical-align: 50%;
}

input {
    width: 75%;
    vertical-align: 50%;
}

button {
    width: 50%;
    font-size: 20px;
}